@font-face {
    font-family: 'socialico';
    src: url('../fonts/socialico-webfont.woff2') format('woff2'),
        url('../fonts/socialico-webfont.woff') format('woff'),
        url('../fonts/socialico-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
