// colors
$white: #fff;
$grey1: #989898;
$grey2: #ebebeb;
$grey3: #f5f5f5;
$primaryColor: #445161;
$secondaryColor: #445162;
$textColor: #333333;

// font
$mainFont: Arial, sans-serif;
$iconFont: 'socialico';

//screens
$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';
$projector: 'min-width: 1200px';

// shadows
$mainShadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
