.review {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media ($tablet) {
        flex-direction: row;
        align-items: flex-start;
    }
    &__image {
        @include img();
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 50%;
        margin-bottom: 2.6rem;

        @media ($tablet) {
            margin-bottom: 0;
            margin-right: 2.7rem;
            flex-shrink: 0;
        }
    }

    &__text {
        position: relative;
        @include p2();
        background-color: $grey2;
        padding: 1.6rem 2rem 1.2rem 1.5rem;
        border-radius: 1rem;

        &::before {
            content: '';
            position: absolute;
            background-color: $grey2;
            top: -1rem;
            left: calc(50% - 1rem);
            width: 2rem;
            height: 2rem;
            transform: rotate(45deg);

            @media ($tablet) {
                top: 2.8rem;
                left: -1rem;
            }
        }

        &-item {
            font-style: italic;
            margin-bottom: 0.8rem;
        }
        &-author {
            color: $grey1;
        }
    }
}
