.screenshot {
    display: flex;
    flex-direction: column;

    @media ($tablet) {
        flex-direction: row;
    }

    &__image {
        @include img();
        width: 100%;
        height: 15rem;
        margin-bottom: 1.5rem;

        @media ($tablet) {
            flex-shrink: 0;
            width: 20rem;
            margin-bottom: 0;
            margin-right: 1.5rem;
        }
    }

    &__text {
        margin-top: -0.5rem;
    }

    &__title {
        @include h3();
        margin-bottom: 0.2rem;
    }

    &__desc {
        @include p1();
    }
}
