.features {
    @include section();
    background-color: $grey3;

    &__title {
        @include h2();
    }

    &__items {
        display: flex;
        flex-direction: column;

        @media ($tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .feature {
            margin-bottom: 1.5rem;

            &:last-child {
                margin-bottom: 0;
            }

            @media ($tablet) {
                flex-basis: calc(50% - 1.1rem);
                margin-bottom: 0;

                &:nth-child(n + 3) {
                    margin-top: 1.5rem;
                }
            }
        }
    }
}
