.prices {
    @include section();
    background-color: $white;

    &__title {
        @include h2();
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media ($desktop) {
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: flex-end;
        }

        .price {
            margin-bottom: 3rem;

            &:last-child {
                margin-bottom: 0;
            }

            @media ($desktop) {
                margin-bottom: 0;
            }
        }
    }
}
