@import './utils';
@import './components';
@import './layout';

.divider {
    height: 50px;
}

.container {
    max-width: 1180px;
    margin: auto;
}
.ui__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-decoration: underline;
}
.h1 {
    @include h1();
}
.h2 {
    @include h2($align: left);
}
.h3 {
    @include h3();
}
.p1 {
    @include p1();
}
.p2 {
    @include p2();
}
.lead {
    @include lead();
}

.btn {
    @extend %btn;
}

.input {
    @extend %input;
}

.textarea {
    @extend %textarea;
}
